@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#root {
  height: 100%;
  margin: 0
}

.App {
  height: 100%;
  margin: 0
}

.home {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* text-align: center; */
  background-image: url(https://s3.us-east-2.amazonaws.com/the-shed-audio-files/css/headphones.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up {
  text-align: center;
  color: white;
}

.video-card-container {

}

.home-container {
  height: 50%;
  width: 50%;
  margin: 0 25%;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}


/* this form needs to be centered */
.login-form {
   position: relative;
   max-width: 50%;
   margin: 0 25%;
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 10px;
}

.centered {
  width: 100%;
  text-align: center;
}

/* .item {
  background-color: rgb(213, 180, 145);
} */

.ui.menu.nav {
  background-color: rgb(227, 211, 198);
  margin-bottom: 0px;
}

#sign-up {
  color: white;
}

.logout:hover {
  cursor: pointer;
}

.ui.grid.container.spaced {
  padding-top: 175px;
}

/* .ui.segment {
  background-color: rgb(227, 211, 198);
} */
.show {
  padding-top: 20px;
}

.opaque {
  /* background-color: rgb(198, 227, 211) !important; */
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.main-container {
  background-color: rgb(227, 211, 198);
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}

.band-form{
   position: relative;
   /* max-width: 100%; */
   margin: 0 30%;
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 10px;
}

.content {
  background-color: rgb(227, 211, 198);
}

.page-title {
  margin-bottom: 50px;
  text-align: center;
}

.add-band {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.video-card-container {
  background-color: rgb(227, 211, 198) !important;
  margin: auto;
}

.circle:hover{
  cursor: pointer;
}
